<section class="landing">
    <header>
        <div class="left-header">
            <div class="dex-home-pair">
                <span class="gap"><img src="icons/pic1.png" alt="icon">Pokedex</span>
            </div>
            <div class="pkm-items-locations-pair">
                <span>Home</span>
                <span>Pokemon</span>
                <span>Items</span>
                <span>Locations</span>
            </div>
        </div>

        <div class="right-header">
            <div class="settings">
                <mat-icon fontSet="material-symbols-outlined">settings</mat-icon>
            </div>
            <div class="profile">
                <img src="icons/pic2.png" alt="">
            </div>
        </div>
    </header>
    <button (click)="this.endpoint.getPokemonByName('pikachu')">Get Single Pokemon</button>
    <button (click)="this.endpoint.getPokemonList(70, 5)">Get 10 Pokemon</button>
</section>