@use "../../../styles.scss" as styles;

.pokemon-card {
  @include styles.dFlex(unset, column, space-between, 0);
  width: 360px;
  height: 480px;
  //background: linear-gradient(135deg, #ff4500, #ff8c00);
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;

  // &:hover {
  //   transform: scale(1.05);
  //   box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  // }

  .card-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
    color: white;

    .pokemon-name {
      font-family: 'Montserrat', sans-serif;
      font-size: 24px;
      margin: 0;
    }

    .id {
      font-size: 18px;
      .type-icon {
        margin-left: 5px;
      }
    }
  }

  .pokemon-image {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: holoEffect 2s infinite;

    img {
      width: 100%;
      max-width: 60%;
      transition: transform 0.3s ease;
    }

    &:hover img {
      transform: scale(1.1);
    }
  }

  .card-body {
    padding: 10px;
    color: white;
    text-align: center;

    .flavor-text {
      font-size: 12px;
      margin-bottom: 10px;
    }

    .attacks {
      .attack {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        margin: 5px 0;

        .damage {
          color: #ffd700;
        }
      }
    }
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
    color: white;

    .weakness {
      font-size: 12px;
    }

    .qr-code {
      width: 40px;
      height: 40px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@keyframes holoEffect {
  0% { background-position: 0 0; }
  100% { background-position: 50px 50px; }
}

@media (max-width: 600px) {
  .pokemon-card {
    width: 200px;
    height: 280px;

    .card-header .pokemon-name {
      font-size: 18px;
    }

    .hp {
      font-size: 14px;
    }

    .pokemon-image {
      height: 130px;
    }

    .card-body .flavor-text {
      font-size: 10px;
    }

    .attacks .attack {
      font-size: 12px;
    }

    .card-footer .weakness {
      font-size: 10px;
    }
  }
}