
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'material-symbols' as mat-symbols;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
  margin: 0;
  background-color: #1A1A1A;
  color: #FFFFFF;
  font-family: 'Roboto', "Helvetica Neue", sans-serif;
}

@mixin dFlex($align, $row , $justify, $gap) {
  display: flex;
  align-items: $align;
  flex-direction: $row;
  justify-content: $justify;
  gap: $gap;
}

app-landingpage {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}